/* JUEGOS */


.cuerpo-card{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:30px;
    align-items: center;
}

.cuerpo-card > article{
    background-color: rgb(248, 246, 246);
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(250, 246, 246, 0.3);
    border-radius:20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
}

.cuerpo-card > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(202, 200, 200, 0.3);
}

.cuerpo-card > article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
}

.descripcion{
    padding: 0 20px 20px;
}

.descripcion h3{
    text-transform: uppercase;
}

.descripcion button{
    background: #f80f0b;
    border-radius: 20px;
    border: none;
    color:#fff;
    padding: 10px;
    width:100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
