

/* FOOTER */
.footer{
    background-color: #272727;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.inner-footeer{
    margin: 0;
    padding: 0;
    background-color: #272727
}
.social-links{
    display: flex;
}

.social-links ul{
    padding: 0px;
    display: flex;
    width: 300px;
    height: 30px;
    margin: auto;
}

.social-items{
    list-style: none;
}

.social-items a{
    padding: 20px 30px;
    font-size: 35px;
    color: #6cccc6;
    transition: all .25s;
}

.social-items a:hover{
    color: #45928d;
}

.outer-footer{
    padding: 20px;
    text-align: center;
    color:white;
    font-size: 10px;
    background-color: #272727;
    margin:0px;
}

