/* NAV */

#botonera ul li a{
    color: white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;

}

    #botonera ul li a:hover{
        color: red;
    }




a{
text-decoration: none;
color: white;
}
header{
display: flex;
justify-content: space-between;
min-height: 70px;
background-color: #000;
align-items: center;
padding: 10px;


}

.logo{
display: flex;
align-items: center;
}

.logo img{
display: flex;
height: 50px;
width: 50px;
margin-right: 10px;
}






nav a{
font-weight: 600;
font-size: 12px;
padding-right: 10px;   
font-family: "Poppins" sans-serif;
}

nav a:hover{
color: #f80f0b;
}

 
body{
margin: 0;
padding: 0;
background-image: url(../img/white.jpg);
background-attachment: fixed;
position: relative;
padding-bottom: 4em;
min-height: 100vh;

}




/* YOUTUBE */
.videos{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: repeat(150px);
justify-items: center;
margin: 20px;
padding: 20px;
}